<div id="dashboard_label">
	DASHBOARD
	<% form_tag({:controller => "search", :action => "index"}, :id => "searchbar") do %>
		<%= text_field_tag(:query) %>
		<%= submit_tag("", :id => "searchbar_submit") %>
		<div id="search_refine">Refine Search ▼</div>
		<div id="searchbar_refine">
			<div class="search_refine_label">Price<div id="price_range_values">$2500 - $7500</div></div>
			<div class="search_refine_field">
				<div id="price_range"></div>
				<%= hidden_field_tag(:price_low, 2500) %>
				<%= hidden_field_tag(:price_hi, 7500) %>
			</div>
			<div class="search_refine_label">Seller</div>
			<div class="search_refine_field"><%= text_field_tag(:seller) %></div>
			<div class="search_refine_label">Condition</div>
			<div class="search_refine_field"><%= text_field_tag(:condition) %></div>
			<div class="search_refine_label">Brand</div>
			<div class="search_refine_field"><%= text_field_tag(:brand) %></div>
		</div>
	<% end %>
</div>
<%= render_error_message %>
<div id="dashboard_main_content">
	<div id="my_collections">
		<div class="title">
			My Collections
			<%= link_to "Create Collection +", new_collection_path, :id => "new_collection_button" %>
		</div>
		<div id="collections_container">
			<% for @collection in @collections %>
				<%= link_to @collection.name, collection_path(@collection), :class => "collection_summary" %>
			<% end %>
			<div id="collections_summary_empty"><%= render_collections_list_placeholder %></div>
		</div>
	</div>
	<div id="activity_feed">
		<div class="title">
			Activity Feed
			<%= will_paginate @activities, :id => "activity_pager" %>
		</div>
		<% for @activity in @activities %>
			<div class="activity_summary">
				<div class="activity_summary_description">
					<span class="activity_summary_user_name"><%= @activity.user_name %></span>
					<span class="activity_summary_action_taken"><%= @activity.action_taken %></span>
					<span class="activity_summary_collection_name"><%= @activity.collection_name %></span>
				</div>
				<div class="activity_summary_date">
					<%= get_days_passed(@activity.created_at) %>
				</div>
			</div>
		<% end %>
		<%= render_activities_list_placeholder %>
	</div>
</div>