<div id="home_main_content_wrapper">
	<div id="home_main_content">
		<div id="home_main_content_left">
			<div id="punchline"></div>
			<div id="keywords">
				<div class="words">Data Collection</div><span class="bullet">&bull;</span>
				<div class="words">Data Mining</div><span class="bullet">&bull;</span>
				<div class="words">Trending</div><span class="bullet">&bull;</span>
				<div class="words">SEO</div>
			</div>
			<div id="summary">A lightweight data collection tool that allows small businesses to collect product data, do trending analysis and increase their online presense.</div>
			<div id="home_main_content_buttons">
				<%= link_to "", new_account_path, :id => "home_main_content_buttons_signup" %>
				<%= link_to "", features_path, :id => "home_main_content_buttons_features" %>
			</div>
		</div>
		<div id="home_main_content_right">
			
		</div>
	</div>
</div>
<div id="home_sub_content_wrapper">
	<div id="home_sub_content">
		<div class="home_sub_content_column">
			<div class="label">Collect Data Anywhere</div>
			<div class="content">
				Create a free account today and get access to pricing data for thousands of products at your fingertips.
				Setup agents to automatically extract and save data on a schedule. 
			</div>
		</div>
		<div class="home_sub_content_column">
			<div class="label">Get Daily Pricing Trends</div>
			<div class="content">
				Get the latest trends for product pricing to help you make the right decisions and respond to changes
				in time. Analyze market movements for new openings.
			</div>
		</div>
		<div class="home_sub_content_column">
			<div class="label">Increase Online Presence</div>
			<div class="content">
				Use the data collected via the dashboard UI to keep your content fresh. More data
				means more content. More contentmeans better indexing and increased traffic. 
			</div>
		</div>
	</div>
</div>
<div id="home_vendors_wrapper">
	<div id="home_vendors">
		<div class="label">A few of our data sources...</div>
		<div class="data_source_wrapper"><%= image_tag("bn.png") %></div>
		<div class="data_source_wrapper"><%= image_tag("overstock.png") %></div>
		<div class="data_source_wrapper"><%= image_tag("walmart.png") %></div>
		<div class="data_source_wrapper"><%= image_tag("office_depot.png") %></div>
		<div class="data_source_wrapper"><%= image_tag("best_buy.png") %></div>
	</div>
</div>