<div id="search_label">
	Results for "<%= @query %>"
	<% form_tag({:controller => "search", :action => "index"}, :id => "searchbar") do %>
		<%= text_field_tag(:query, @query) %>
		<%= submit_tag("", :id => "searchbar_submit") %>
		<div id="search_refine">Refine Search ▼</div>
		<div id="searchbar_refine">
			<div class="search_refine_label">Price<div id="price_range_values">$2500 - $7500</div></div>
			<div class="search_refine_field">
				<div id="price_range"></div>
				<%= hidden_field_tag(:price_low, 2500) %>
				<%= hidden_field_tag(:price_hi, 7500) %>
			</div>
			<div class="search_refine_label">Seller</div>
			<div class="search_refine_field"><%= text_field_tag(:seller) %></div>
			<div class="search_refine_label">Condition</div>
			<div class="search_refine_field"><%= text_field_tag(:condition) %></div>
			<div class="search_refine_label">Brand</div>
			<div class="search_refine_field"><%= text_field_tag(:brand) %></div>
		</div>
	<% end %>
</div>
<div id="search_main_content">
	<div id="search_control_bar">
		<div id="search_save_selected">Save Selected</div>
		<%= pager(@data) %>
	</div>
	<div id="search_save_form">
		<div id="search_save_form_label">Save To Collection..</div>
		<select>
			<% for @collection in @collections %>
			<option value="<%= @collection.id %>"><%= @collection.name %></option>
			<% end %>
		</select>
		<div id="search_save_progress_bar" class="ui-progressbar"></div>
		<div id="search_save_progress_percent">0%</div>
		<div id="search_save_form_cancel">or cancel</div>
		<div id="search_save_form_button">SAVE</div>
	</div>
	<div id="search_message">
		<span>Saved results to</span>
		<%= link_to "Collection Name", collection_path(13) %>
	</div>
	<table cellpadding="0" cellspacing="0">
		<tr class="headers">
			<td class="checkbox"><input type="checkbox" /></td>
			<td class="mpn">Part Number</td>
			<td class="price">Price</td>
			<td class="seller">Seller</td>
			<td class="condition">Condition</td>
			<td class="brand">Brand</td>
			<td class="upc">UPC</td>
			<td class="ean">EAN</td>
			<td class="model_number">Model Number</td>
			<td class="type">Type</td>
			<td class="url">URL</td>
			<td class="image_url">Image URL</td>
			<td class="country">Country</td>
			<td class="expiration">Expiration Date</td>
		</tr>
		<% for @entry in @data.feed["entry"] %>
			<tr class="rows">
				<td class="checkbox"><input type="checkbox" /></td>
				<td class="mpn"><%= @entry["mpn"].first["content"] unless @entry["mpn"].nil? %></td>
				<td class="price"><%= @entry["price"].first["content"] unless @entry["price"].nil? %></td>
				<td class="seller"><%= @entry["author"].first["name"] unless @entry["author"].nil? %></td>
				<td class="condition"><%= @entry["condition"].first["content"] unless @entry["condition"].nil? %></td>
				<td class="brand"><%= @entry["brand"].first["content"] unless @entry["brand"].nil? %></td>
				<td class="upc"><%= @entry["upc"].first["content"] unless @entry["upc"].nil? %></td>
				<td class="ean"><%= @entry["ean"].first["content"] unless @entry["ean"].nil? %></td>
				<td class="model_number"><%= @entry["model_number"].first["content"] unless @entry["model_number"].nil? %></td>
				<td class="type"><%= @entry["product_type"].first["content"] unless @entry["product_type"].nil? %></td>
				<td class="url"><%= @entry["url"].first["content"] unless @entry["url"].nil? %></td>
				<td class="image_url"><%= @entry["image_link"].first["content"] unless @entry["image_link"].nil? %></td>
				<td class="country"><%= @entry["target_country"].first["content"] unless @entry["target_country"].nil? %></td>
				<td class="expiration"><%= @entry["expiration_date"].first["content"] unless @entry["expiration_date"].nil? %></td>
			</tr>
		<% end %>
	</table>
</div>