<div id="features_main_content_wrapper">
	<div id="features_main_content">
		<div id="features_left_content">
			<%= render :partial => "partials/features_nav" %>
		</div>
		<div id="features_right_content">
			<div class="label">GET STARTED NOW</div>
			<% if flash[:error] %>
				<div class="error"><%= flash[:error] %></div>
			<% end %>
			<div class="body">
				<% form_for(@account) do |f| %>
					<%= label_tag(:first_name, "First Name") %>
					<%= f.text_field :first_name, :class => "field" %>
					<%= label_tag(:last_name, "Last Name") %>
					<%= f.text_field :last_name, :class => "field" %>
					<%= label_tag(:email, "Email") %>
					<%= f.text_field :email, :class => "field" %>
					<%= label_tag(:password, "Password") %>
					<%= f.password_field :password, :class => "field" %>
					<%= label_tag(:confirm_password, "Confirm Password") %>
					<%= f.password_field :confirm_password, :class => "field" %>
					<%= f.submit "Create Account", :class => "button" %>
				<% end %>
			</div>
		</div>
	</div>
</div>