<div id="users_main_content_wrapper">
	<div id="users_main_content">
		<div id="users_punchline">Sign Up & Get Started Now.</div>
		<% form_for(@user) do |f| %>
			<%= label_tag(:name, "Name") %>
			<%= f.text_field :name %>
			<%= label_tag(:email, "Email") %>
			<%= f.text_field :email %>
			<%= label_tag(:password, "Password") %>
			<%= f.password_field :password %>
			<%= f.submit "Get Started" %>
		<% end %>
	</div>
</div>